body {
    font-family: 'Otomanopee One', sans-serif;
    margin: 0%;
}
#bmibutton {
    text-decoration: none;
    padding: 40px 40px;
    border-radius: 20px;
    background-image:linear-gradient(teal ,aqua);
    font-weight: bolder;
    color:white;
}
section {
    display: flex;
}
.position1 {
    padding-top: 65px;
    padding-left: 30%;
}
.position2 {
    padding-left: 2%;
}
.variation {
    color: teal;
    font-family:'Zen Tokyo Zoo', cursive;
    font-size: 80px;
}
.ratiochange {
    width: 50%;
    padding-left: 5%;
    margin-top: 5%;
}
.ratiochange img {
    width: 90%;
}
#extra {
    font-size: 20px;
    color:navy;
}
.plan {
    text-decoration: none;
    background-image:linear-gradient( teal, aqua);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: cursive ;
    font-weight: 700;
    color:white ;
    margin-top: 10%;
    margin-left: 5%;
}
.background2 {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.background1 {
    background-image: url(images/shapes/istockphoto-1173257070-612x612.jpg);
    
}
.ratiochange2 {
    width: 40%;
    padding-left: 60px;
    padding-top: 5%;
}
.ratiochange2 img {
    width: 50%;
    padding-left: 30%;
    padding-top: 5%;
}
.background3 {
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
}
.align {
    text-align: center;
    color: navy;
    font-size: 40px;
    margin-top: 5%;
}
.diet {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(50, 112, 173);
}
#img1 {
    width: 80%;
    border-radius: 20px;
}
#img2 {
    width: 80%;
    border-radius: 20px;
}
#img3 {
    width: 80%;
}
#sky {
    color: steelblue;
}
.background4 {
    background-color: teal;
    padding: 80px 20px;
}
#align {
    text-align: center;
    color: rgb(202, 238, 234);
}